# .gitignore

# Виртуальное окружение Python
venv/
env/
.venv/

# Файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# ОС
.DS_Store
Thumbs.db

# Файлы сессий Flask
*.session

# Логи
*.log

# Временные файлы
tmp/
temp/